img {
    max-width: 100px;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
    background: #fff;
    padding: 2px;
    margin-top: 10px;
}

#post{
    display: none;
}
#postall{
    display: none;
}

.show {
    display: block !important;
    margin-top: 15px;;
    margin-bottom: 15px;
}

div#product {
    background: #000;
    color: #fff;
    width: max-content;
    padding: 15px;
}

.product-data {
    color: #a5a5a5;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

em.result {
    display: block;
    font-style: normal;
    font-family: sans-serif;
    padding-top: 3px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
}